<section id="hero" class="hero is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
          <div class="navbar-brand">
            <a href="{% url 'core:inicio' %}" class="navbar-item" style="padding-left: 0px;">
            </a> {% load static %} <img src="{% static 'assets/img/8x_social.png' %}" width="115" height="70" alt="8x logo">
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item has-text-green a-menu">
                HOME
              </a>
              <a class="navbar-item has-text-green a-menu">
                ABOUT
              </a>
              <a class="navbar-item has-text-green a-menu">
                USERS
              </a>
            </div>
          </div>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
      </div>
    </nav>
  </div>
</section>